<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="flex d-flex form-label mt-4">
            <a href="/" style="text-decoration: none">
            |    <h1 class="me-4">Store</h1>
            | </a>
            <form action="/" method="POST" class="d-flex flex mt-2 col-6">
                <input type="search" name="searchbox" class="form-control px-3" aria-label="searchbox" placeholder="Search Here">
                <button type="submit" class="ms-1 px-2" value="OK">GO</button>
            </form>
        </div>
        <h2 class="mt-5">Items</h2>
        <div style="display: table; margin: 5px; grid-column: 2;">
            each val in products
                p.col Name: #{val.Product_Name} || Price: #{val.Product_MRP} || Product Type: #{val.Product_type} <a href="/productPage/#{val.ProductID}">LINK</a>
            end
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>