<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
      <ul>
        <li><a href="/"><img src="https://user-images.githubusercontent.com/76814885/164988594-bfcd76b3-2719-4933-a27e-2d5a148419b1.jpeg" width=200px height="120px" /></a></li>
        <li class="spacebox">Welcome Anuj!</li>
        <li><a href="/"><h2 class="logout">Log Out</h2></a></li>
      </ul>
    </nav>
    <div class="wrapper">
    <section class="mainsec">
      <h1 class="accp_name">Anuj Yadav</h1>
      <div class="primetag"><h2 class="accp_type">Prime</h2></div>
      <div class="othertag">
        <h2 class="accp_email">anuj@iiitd.ac.in</h2>
        <h2 class="accp_phone">+91-9888888888</h2>
        <h2 class="accp_address">Address/es:</h2>
        <ul class="accp_add_list">
          <li>Address 1</li>
          <li>Address 2</li>
        </ul>
      </div>
      
    </section>
      <aside>
        <ul class="sidebar">
          <li><h2 class="coins">Bazar Coins: 210</h2></li>
          <li><a href="/"><h2>Cart</h2></li>
          <li><a href="/"><h2>Wish List</h2></li>
          <li><a href="/"><h2>Payment Options</h2></li>
          <li><a href="/"><h2>My Orders</h2></li>
          <li><a href="/"><h2>Coupons</h2></li>
        </ul>
      </aside>
    </div>
</body>
</html>